# Python virtual environments
.venv/
venv/
env/

# Python bytecode / cache
__pycache__/
*.pyc
*.pyo

# OS junk
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/